WARP.md 
.warp.md 
result

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
eggs/
pip-wheel-metadata/

# Virtual environments
.venv/
venv/
env/
ENV/
.env

# Testing and coverage
.pytest_cache/
.coverage
.cache/
.tox/
htmlcov/

# Type checking and linting
.mypy_cache/
.pytype/
.flake8
.ruff_cache/

# IDE and editor directories
.idea/
.vscode/
*.swp
*.swo

# key file
.ssh

# ingnore all files in config dir
config/*

# track config/emacs
!config/emacs
config/emcas/*
!config/emacs/addons/
!config/emacs/early-init.el
!config/emacs/.init/
!config/emacs/init.el
!config/emacs/README.md
!config/emacs/snippets/

# track config/others*
!config/Kvantum
!config/ags
!config/btop
!config/cava
!config/fastfetch
!config/hypr
!config/kitty
!config/nvim
!config/qt5ct
!config/qt6ct
!config/quickshell
!config/rofi
!config/swappy
!config/swaync
!config/wallust
!config/waybar
!config/wlogout
